<div style="font-size:35px;">
<strong>HWI</strong> (How was it ?): <br/>
<br/>
</div>
<div style="font-size:25px; margin-left:30px;">
Have you ever read a book and thought, "I really wasted my time on this book."?<br/>
Or have you ever gone to a place but felt like this city might have places more fun to go?<br/>
Have you ever regretted wasting your time and felt you could have made a better use of it?<br/>
That's why HWI is here. We connect the society and ask everyone who tried something<br/>
 for you the only question, "How was it?". So you can find the answer here.<br/>
Want to go have fun but don't know where? You can check our top rated tourist attractions.<br/>
Want to read a book but don't feel sure about it? Check the book reviews written by the society for the society.<br/>
HWI helps you get the full picture of anything before trying it out to make sure that you get the most use of your time.<br/>
In HWI's society everyone is allowed to write a review and put his own comments on other people's reviews, Yet <br/>
to create certain items you got to have a minimum of 10 reviews.
</div>
